// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

$eggshell: rgba(244, 241, 222, 1);
$terra-cotta: rgba(224, 122, 95, 1);
$independence: rgba(61, 64, 91, 1);
$green-sheen: rgba(129, 178, 154, 1);
$deep-champagne: rgba(242, 204, 143, 1);

