<div class="container m-3">
  <div class="row">
    <div class="col-6 offset-3">
      <h2>Make a new booking:</h2>
      <%= render "form" %>
      <%= link_to plant_path(@plant) do %>
        <i class="fas fa-chevron-circle-left edit-back-fa"></i>
      <% end %>
    </div>
  </div>
</div>
