<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);">
  <div class="container text-center">
    <h1>Plantastic</h1>
    <p>A place to rent plants</p>
    <p><%= link_to 'Click here for all plants', plants_path, class: "btn btn-green btn-lg" %></p>
  </div>
</div>
