<div class="container">
  <h1>All Plants</h1>
  <% @plants.each do |plant|%>
    <p><%= link_to plant.name, plant_path(plant) %></p>
  <% end %>
  <p><%= link_to 'Home', root_path %></p>
  <p><%= link_to 'Add a Plant for rent', new_plant_path %></p>

  <% if policy(Plant).create? %>
    <%= link_to 'New Plant', new_plant_path %>
  <% end %>
</div>
