.banner {
  background-size: cover;
  background-position: center;
  padding: 160px;
  height: 100vh;
}

.banner h1 {
  font-size: 96px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 48px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 10px;
}
