.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: $light-gray;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
=======
  background: #f1f1f1;
>>>>>>> master
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
