// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$eggshell: rgba(244, 241, 222, 1);
$terra-cotta: rgba(224, 122, 95, 1);
$independence: rgba(61, 64, 91, 1);
$green-sheen: rgba(129, 178, 154, 1);
$deep-champagne: rgba(242, 204, 143, 1);

