// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import 'bootstrap-datepicker';


// Your CSS partials
@import "components/index";
@import "pages/index";


$eggshell: rgba(244, 241, 222, 1);
$terra-cotta: rgba(224, 122, 95, 1);
$independence: rgba(61, 64, 91, 1);
$green-sheen: rgba(129, 178, 154, 1);
$deep-champagne: rgba(242, 204, 143, 1);
$dark-slate-gray: rgba(53, 79, 82, 1);

$nyanza: rgba(216, 243, 220, 1);
$turquoise-green: rgba(183, 228, 199, 1);
$turquoise-green-2: rgba(149, 213, 178, 1);
$ocean-green: rgba(116, 198, 157, 1);
$ocean-green-2: rgba(82, 183, 136, 1);
$illuminating-emerald: rgba(64, 145, 108, 1);
$bottle-green: rgba(45, 106, 79, 1);
$brunswick-green: rgba(27, 67, 50, 1);
$dark-jungle-green: rgba(8, 28, 21, 1);

html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
}

body {
  background-color: #fff;
  color: $dark-jungle-green;
  font-size: 20px;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: $brunswick-green;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

a {
  color: $ocean-green;

  &:hover {
    color: $dark-slate-gray;
    text-decoration: none;
  }
}
